.share{
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(31,29,27,0.68); 
    box-shadow: 0px 0px 16px -8px rgba(31,29,27,0.68);
}

.shareWrapper{
    padding: 10px;
}

.shareTop{
    display: flex;
    align-items: center;
}

.shareProfileImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.shareInput{
    border:none;
    width: 80%;
    color: #709176;
    font-family: 'Otomanopee One', sans-serif;
}

.shareInput:focus{
    outline: none;
}

.shareInput::placeholder{
    color: #709176;
    font-weight: 500;
    font-family: 'Otomanopee One', sans-serif;
}

.shareHr{
    margin: 20px;
}

.shareBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shareOptions{
    display: flex;
    margin-left: 20px;
}

.shareOption{
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
}

.shareIcon{
    font-size: 18px;
    margin-right: 5px;
}

.shareOptionText{
    font-size: 14px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: rgba(31,29,27);
}

.shareButton{
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: rgba(31,29,27);
    color: #e4e465;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-right: 20px;
    cursor: pointer;
}

.shareImgContainer{
    padding: 0 20px 10px 20px;
    position: relative;
}

.shareImg{
    width: 100%;
    object-fit: cover;
}

.shareCancelImg{
    color: rgba(31,29,27);
    position: absolute;
    top: 0;
    right: 20px;
    cursor: pointer;
}